In [29]:
import os
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
import joblib
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [30]:
file = os.path.join('C:/Users/CounterNA/Downloads/documentos Iniciales/documentos preliminares 3 (Reboiler)', 'Reboiler_Raw_Data_With_Timestamps.xlsx')
df1 = pd.read_excel(file, header=0)
attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Fecha,VAL356CI8017-Conductividad,VAL356M003-Carga Motor,VAL356M014-Carga Motor,VAL356M015-Carga Motor,VAL356PI8026-Ind.Presión,VAL356PIC8025-Ind.Presión,VAL356TI8015-Ind.Temperatura,VAL356TIC8014-Ind.Temperatura,Estado
0,2006-10-24 23:38:00,12.3,68.026459,45.670056,30.343173,21.492553,20.9,71.883617,103.414846,0
1,2006-10-25 01:38:00,18.9,68.827098,45.924569,30.126654,20.954956,20.6,72.301453,103.487449,0
2,2006-10-25 03:38:00,25.9,68.871664,49.477196,29.701442,21.193045,20.3,71.775536,103.582936,0
3,2006-10-25 05:38:00,27.2,65.658285,51.649763,28.820497,21.021897,20.6,70.589861,103.697800,0
4,2006-10-25 07:38:00,22.0,64.166553,46.851182,27.760388,20.975880,20.4,71.762377,103.680362,0
...,...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,NaN,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,NaN,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,NaN,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,NaN,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,NaN,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [31]:
df1 = df1.drop([
	'VAL356M003-Carga Motor',
], axis='columns')
attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Fecha,VAL356CI8017-Conductividad,VAL356M014-Carga Motor,VAL356M015-Carga Motor,VAL356PI8026-Ind.Presión,VAL356PIC8025-Ind.Presión,VAL356TI8015-Ind.Temperatura,VAL356TIC8014-Ind.Temperatura,Estado
0,2006-10-24 23:38:00,12.3,45.670056,30.343173,21.492553,20.9,71.883617,103.414846,0
1,2006-10-25 01:38:00,18.9,45.924569,30.126654,20.954956,20.6,72.301453,103.487449,0
2,2006-10-25 03:38:00,25.9,49.477196,29.701442,21.193045,20.3,71.775536,103.582936,0
3,2006-10-25 05:38:00,27.2,51.649763,28.820497,21.021897,20.6,70.589861,103.697800,0
4,2006-10-25 07:38:00,22.0,46.851182,27.760388,20.975880,20.4,71.762377,103.680362,0
...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [32]:
df1 = df1.rename(columns={
	'VAL356CI8017-Conductividad': 'Conductividad',
	'VAL356M014-Carga Motor': 'Carga Motor (M014)',
	'VAL356M015-Carga Motor': 'Carga Motor (M015)',
	'VAL356PI8026-Ind.Presión': 'Ind.Presión (PI8026)',
	'VAL356PIC8025-Ind.Presión': 'Ind.Presión (PI8025)',
	'VAL356TI8015-Ind.Temperatura': 'Temperatura (TI8015)',
	'VAL356TIC8014-Ind.Temperatura': 'Temperatura (TI8014)',
})
attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Fecha,Conductividad,Carga Motor (M014),Carga Motor (M015),Ind.Presión (PI8026),Ind.Presión (PI8025),Temperatura (TI8015),Temperatura (TI8014),Estado
0,2006-10-24 23:38:00,12.3,45.670056,30.343173,21.492553,20.9,71.883617,103.414846,0
1,2006-10-25 01:38:00,18.9,45.924569,30.126654,20.954956,20.6,72.301453,103.487449,0
2,2006-10-25 03:38:00,25.9,49.477196,29.701442,21.193045,20.3,71.775536,103.582936,0
3,2006-10-25 05:38:00,27.2,51.649763,28.820497,21.021897,20.6,70.589861,103.697800,0
4,2006-10-25 07:38:00,22.0,46.851182,27.760388,20.975880,20.4,71.762377,103.680362,0
...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [33]:
df1 = df1
s = df1['Fecha']
df1['Fecha'] = pd.to_datetime(s, errors='coerce')

s = df1['Conductividad']
df1['Conductividad'] = pd.to_numeric(s, errors='coerce')

s = df1['Carga Motor (M014)']
df1['Carga Motor (M014)'] = pd.to_numeric(s, errors='coerce')

s = df1['Carga Motor (M015)']
df1['Carga Motor (M015)'] = pd.to_numeric(s, errors='coerce')

s = df1['Ind.Presión (PI8026)']
df1['Ind.Presión (PI8026)'] = pd.to_numeric(s, errors='coerce')

s = df1['Ind.Presión (PI8025)']
df1['Ind.Presión (PI8025)'] = pd.to_numeric(s, errors='coerce')

s = df1['Temperatura (TI8015)']
df1['Temperatura (TI8015)'] = pd.to_numeric(s, errors='coerce')

s = df1['Temperatura (TI8014)']
df1['Temperatura (TI8014)'] = pd.to_numeric(s, errors='coerce')

attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Fecha,Conductividad,Carga Motor (M014),Carga Motor (M015),Ind.Presión (PI8026),Ind.Presión (PI8025),Temperatura (TI8015),Temperatura (TI8014),Estado
0,2006-10-24 23:38:00,12.3,45.670056,30.343173,21.492553,20.9,71.883617,103.414846,0
1,2006-10-25 01:38:00,18.9,45.924569,30.126654,20.954956,20.6,72.301453,103.487449,0
2,2006-10-25 03:38:00,25.9,49.477196,29.701442,21.193045,20.3,71.775536,103.582936,0
3,2006-10-25 05:38:00,27.2,51.649763,28.820497,21.021897,20.6,70.589861,103.697800,0
4,2006-10-25 07:38:00,22.0,46.851182,27.760388,20.975880,20.4,71.762377,103.680362,0
...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [34]:
df1 = df1.fillna(method='ffill')

attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\3580065243.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1 = df1.fillna(method='ffill')

[{'var': 'df1', 'type': 'DataFrame'}]

,Fecha,Conductividad,Carga Motor (M014),Carga Motor (M015),Ind.Presión (PI8026),Ind.Presión (PI8025),Temperatura (TI8015),Temperatura (TI8014),Estado
0,2006-10-24 23:38:00,12.3,45.670056,30.343173,21.492553,20.9,71.883617,103.414846,0
1,2006-10-25 01:38:00,18.9,45.924569,30.126654,20.954956,20.6,72.301453,103.487449,0
2,2006-10-25 03:38:00,25.9,49.477196,29.701442,21.193045,20.3,71.775536,103.582936,0
3,2006-10-25 05:38:00,27.2,51.649763,28.820497,21.021897,20.6,70.589861,103.697800,0
4,2006-10-25 07:38:00,22.0,46.851182,27.760388,20.975880,20.4,71.762377,103.680362,0
...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [35]:
cond = ((df1['Fecha'].ge(pd.to_datetime('2016-01-01 00:00:00', format='%Y-%m-%d %H:%M:%S', errors='coerce'))))
df1 = df1[cond]
attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Fecha,Conductividad,Carga Motor (M014),Carga Motor (M015),Ind.Presión (PI8026),Ind.Presión (PI8025),Temperatura (TI8015),Temperatura (TI8014),Estado
30676,2016-01-08 11:38:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0
30677,2016-01-08 13:38:00,4.4,67.954487,42.381221,18.411020,19.0,78.184952,98.775669,0
30678,2016-01-08 15:38:00,4.2,69.688606,41.967134,18.601041,19.0,80.599028,101.165308,0
30679,2016-01-08 17:38:00,4.2,69.274182,42.124866,18.582166,19.0,79.301819,99.934365,0
30680,2016-01-08 19:38:00,4.2,69.095421,41.588124,18.593953,19.0,80.170472,100.804536,0
...,...,...,...,...,...,...,...,...,...
42201,2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
42202,2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
42203,2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
42204,2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
42205,2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [36]:
df1 = df1
df1.set_index([
	'Fecha',
], inplace=True)
attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Conductividad,Carga Motor (M014),Carga Motor (M015),Ind.Presión (PI8026),Ind.Presión (PI8025),Temperatura (TI8015),Temperatura (TI8014),Estado
Fecha,,,,,,,,
2016-01-08 11:38:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0
2016-01-08 13:38:00,4.4,67.954487,42.381221,18.411020,19.0,78.184952,98.775669,0
2016-01-08 15:38:00,4.2,69.688606,41.967134,18.601041,19.0,80.599028,101.165308,0
2016-01-08 17:38:00,4.2,69.274182,42.124866,18.582166,19.0,79.301819,99.934365,0
2016-01-08 19:38:00,4.2,69.095421,41.588124,18.593953,19.0,80.170472,100.804536,0
...,...,...,...,...,...,...,...,...
2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [37]:
cond = ((df1['Conductividad'].le(12)))
df1 = df1[cond]
attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1

[{'var': 'df1', 'type': 'DataFrame'}]

,Conductividad,Carga Motor (M014),Carga Motor (M015),Ind.Presión (PI8026),Ind.Presión (PI8025),Temperatura (TI8015),Temperatura (TI8014),Estado
Fecha,,,,,,,,
2016-01-08 11:38:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0
2016-01-08 13:38:00,4.4,67.954487,42.381221,18.411020,19.0,78.184952,98.775669,0
2016-01-08 15:38:00,4.2,69.688606,41.967134,18.601041,19.0,80.599028,101.165308,0
2016-01-08 17:38:00,4.2,69.274182,42.124866,18.582166,19.0,79.301819,99.934365,0
2016-01-08 19:38:00,4.2,69.095421,41.588124,18.593953,19.0,80.170472,100.804536,0
...,...,...,...,...,...,...,...,...
2018-09-06 01:38:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0
2018-09-06 03:38:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0
2018-09-06 05:38:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0
2018-09-06 07:38:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0
2018-09-06 09:38:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0

In [38]:
from functools import partial
from pandas.tseries.frequencies import to_offset

def roundfunc(t, freq):
	freq = to_offset(freq)
	return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)

df1 = df1.groupby(partial(roundfunc, freq='120T'))

attrs = {
	'var': 'df1',
	'type': type(df1).__name__,
}
[attrs]
df1
enum = enumerate(df1.groups)
nextel = next(enum)
nextel[1]
df1.get_group(nextel[1])
nextel = next(enum)
nextel[1]
df1.get_group(nextel[1])

C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:6: FutureWarning: Minute.delta is deprecated and will be removed in a future version. Use pd.Timedelta(obj) instead
  return pd.Timestamp((t.value // freq.delta.value) * freq.delta.value)
C:\Users\CounterNA\AppData\Local\Temp\ipykernel_11800\864925653.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  freq = to_offset(freq)

[{'var': 'df1', 'type': 'DataFrameGroupBy'}]

Timestamp('2016-01-08 10:00:00')

,Conductividad,Carga Motor (M014),Carga Motor (M015),Ind.Presión (PI8026),Ind.Presión (PI8025),Temperatura (TI8015),Temperatura (TI8014),Estado
Fecha,,,,,,,,
2016-01-08 11:38:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0

Timestamp('2016-01-08 12:00:00')

,Conductividad,Carga Motor (M014),Carga Motor (M015),Ind.Presión (PI8026),Ind.Presión (PI8025),Temperatura (TI8015),Temperatura (TI8014),Estado
Fecha,,,,,,,,
2016-01-08 13:38:00,4.4,67.954487,42.381221,18.41102,19.0,78.184952,98.775669,0

In [ ]:
# 2 parte

In [1]:
import os
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
import joblib
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
file = os.path.join('C:/Users/CounterNA/Desktop/COMPU/TRABAJO 2( REBOILER)/Codigos', 'Reboiler_depurado.csv')
df13 = pd.read_csv(file)
attrs = {
	'var': 'df13',
	'type': type(df13).__name__,
}
[attrs]
df13

[{'var': 'df13', 'type': 'DataFrame'}]

,Fecha,Conductividad,Carga Motor (M014),Carga Motor (M015),Ind.Presión (PI8026),Ind.Presión (PI8025),Temperatura (TI8015),Temperatura (TI8014),Estado
0,2016-01-08 10:00:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0.0
1,2016-01-08 12:00:00,4.4,67.954487,42.381221,18.411020,19.0,78.184952,98.775669,0.0
2,2016-01-08 14:00:00,4.2,69.688606,41.967134,18.601041,19.0,80.599028,101.165308,0.0
3,2016-01-08 16:00:00,4.2,69.274182,42.124866,18.582166,19.0,79.301819,99.934365,0.0
4,2016-01-08 18:00:00,4.2,69.095421,41.588124,18.593953,19.0,80.170472,100.804536,0.0
...,...,...,...,...,...,...,...,...,...
11161,2018-09-06 00:00:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0.0
11162,2018-09-06 02:00:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0.0
11163,2018-09-06 04:00:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0.0
11164,2018-09-06 06:00:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0.0
11165,2018-09-06 08:00:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0.0

In [9]:
df13 = df13
s = df13['Fecha']
df13['Fecha'] = pd.to_datetime(s, errors='coerce')

s = df13['Conductividad']
df13['Conductividad'] = pd.to_numeric(s, errors='coerce')

s = df13['Carga Motor (M014)']
df13['Carga Motor (M014)'] = pd.to_numeric(s, errors='coerce')

s = df13['Carga Motor (M015)']
df13['Carga Motor (M015)'] = pd.to_numeric(s, errors='coerce')

s = df13['Ind.Presión (PI8026)']
df13['Ind.Presión (PI8026)'] = pd.to_numeric(s, errors='coerce')

s = df13['Ind.Presión (PI8025)']
df13['Ind.Presión (PI8025)'] = pd.to_numeric(s, errors='coerce')

s = df13['Temperatura (TI8015)']
df13['Temperatura (TI8015)'] = pd.to_numeric(s, errors='coerce')

s = df13['Temperatura (TI8014)']
df13['Temperatura (TI8014)'] = pd.to_numeric(s, errors='coerce')

s = df13['Estado']
df13['Estado'] = pd.to_numeric(s, errors='coerce')

attrs = {
	'var': 'df13',
	'type': type(df13).__name__,
}
[attrs]
df13

[{'var': 'df13', 'type': 'DataFrame'}]

,Fecha,Conductividad,Carga Motor (M014),Carga Motor (M015),Ind.Presión (PI8026),Ind.Presión (PI8025),Temperatura (TI8015),Temperatura (TI8014),Estado
0,2016-01-08 10:00:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0.0
1,2016-01-08 12:00:00,4.4,67.954487,42.381221,18.411020,19.0,78.184952,98.775669,0.0
2,2016-01-08 14:00:00,4.2,69.688606,41.967134,18.601041,19.0,80.599028,101.165308,0.0
3,2016-01-08 16:00:00,4.2,69.274182,42.124866,18.582166,19.0,79.301819,99.934365,0.0
4,2016-01-08 18:00:00,4.2,69.095421,41.588124,18.593953,19.0,80.170472,100.804536,0.0
...,...,...,...,...,...,...,...,...,...
11161,2018-09-06 00:00:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0.0
11162,2018-09-06 02:00:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0.0
11163,2018-09-06 04:00:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0.0
11164,2018-09-06 06:00:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0.0
11165,2018-09-06 08:00:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0.0

In [10]:
df13 = df13
df13.set_index([
	'Fecha',
], inplace=True)
attrs = {
	'var': 'df13',
	'type': type(df13).__name__,
}
[attrs]
df13

[{'var': 'df13', 'type': 'DataFrame'}]

,Conductividad,Carga Motor (M014),Carga Motor (M015),Ind.Presión (PI8026),Ind.Presión (PI8025),Temperatura (TI8015),Temperatura (TI8014),Estado
Fecha,,,,,,,,
2016-01-08 10:00:00,4.5,69.658713,42.280192,18.769251,19.0,79.399877,99.160674,0.0
2016-01-08 12:00:00,4.4,67.954487,42.381221,18.411020,19.0,78.184952,98.775669,0.0
2016-01-08 14:00:00,4.2,69.688606,41.967134,18.601041,19.0,80.599028,101.165308,0.0
2016-01-08 16:00:00,4.2,69.274182,42.124866,18.582166,19.0,79.301819,99.934365,0.0
2016-01-08 18:00:00,4.2,69.095421,41.588124,18.593953,19.0,80.170472,100.804536,0.0
...,...,...,...,...,...,...,...,...
2018-09-06 00:00:00,7.4,72.696510,43.464317,19.695450,19.5,81.372489,99.598170,0.0
2018-09-06 02:00:00,7.2,72.905098,44.058929,19.826046,19.5,81.911505,99.633708,0.0
2018-09-06 04:00:00,6.9,72.968914,44.584087,19.523726,19.5,80.810454,99.775918,0.0
2018-09-06 06:00:00,6.9,72.905579,44.417335,19.308117,19.5,81.587220,100.136055,0.0
2018-09-06 08:00:00,7.0,72.956738,44.203780,19.335458,19.5,81.812438,100.482443,0.0

In [11]:
df16 = df13.drop([
	'Temperatura (TI8014)',
	'Temperatura (TI8015)',
	'Ind.Presión (PI8025)',
	'Ind.Presión (PI8026)',
	'Carga Motor (M015)',
	'Carga Motor (M014)',
], axis='columns')
attrs = {
	'var': 'df16',
	'type': type(df16).__name__,
}
[attrs]
df16

[{'var': 'df16', 'type': 'DataFrame'}]

                     Conductividad  Estado
Fecha
2016-01-08 10:00:00            4.5     0.0
2016-01-08 12:00:00            4.4     0.0
2016-01-08 14:00:00            4.2     0.0
2016-01-08 16:00:00            4.2     0.0
2016-01-08 18:00:00            4.2     0.0
...                            ...     ...
2018-09-06 00:00:00            7.4     0.0
2018-09-06 02:00:00            7.2     0.0
2018-09-06 04:00:00            6.9     0.0
2018-09-06 06:00:00            6.9     0.0
2018-09-06 08:00:00            7.0     0.0

[11166 rows x 2 columns]

In [12]:
df17 = df13[[
	'Estado',
]]
attrs = {
	'var': 'df17',
	'type': type(df17).__name__,
}
[attrs]
df17

[{'var': 'df17', 'type': 'DataFrame'}]

                     Estado
Fecha
2016-01-08 10:00:00     0.0
2016-01-08 12:00:00     0.0
2016-01-08 14:00:00     0.0
2016-01-08 16:00:00     0.0
2016-01-08 18:00:00     0.0
...                     ...
2018-09-06 00:00:00     0.0
2018-09-06 02:00:00     0.0
2018-09-06 04:00:00     0.0
2018-09-06 06:00:00     0.0
2018-09-06 08:00:00     0.0

[11166 rows x 1 columns]

In [13]:


def datetime_window(dfx, dfy, dfy_total, scaler, size, periods, y_choose='last', ahead=''):
    catcolsx = dfx.select_dtypes(['category']).columns
    dfx[catcolsx] = dfx[catcolsx].apply(lambda x: x.cat.codes)

    catcolsy = dfy.select_dtypes(['category']).columns
    dfy[catcolsy] = dfy[catcolsy].apply(lambda x: x.cat.codes)

    catcolsy_total = dfy_total.select_dtypes(['category']).columns
    dfy_total[catcolsy_total] = dfy_total[catcolsy_total].apply(lambda x: x.cat.codes)

    ind = []
    x = []
    y = []

    def get_windows(win):
        if (win.shape[0] != periods):
            return np.nan
        
        if (y_choose == 'ahead'):
            wy = dfy.loc[win.index, :]
            try:
                wy = dfy_total.loc[wy.index[-1] + pd.Timedelta(ahead)]
                y.append(wy)

                wx = dfx.loc[win.index, :]
                x.append(wx)

                ind.append(win.index[0])
            except:
                pass
        else:
            wx = dfx.loc[win.index, :]
            x.append(wx)

            wy = dfy.loc[win.index, :]
            if (y_choose == 'last'):
                wy = wy.iloc[-1]
            elif (y_choose == 'first'):
                wy = wy.iloc[0]
            y.append(wy)

            ind.append(win.index[0])
        
        return np.nan

    dfx.iloc[:, 0].rolling(size).apply(get_windows)
    
    return x, y, ind

# --------------------------------------------------------------------------------------
def print_list_shape(lst):
    s = ''
    if (len(lst) > 0):
        s += str(len(lst))
        s += ' x ' + str(np.array(lst[0]).shape)
    else:
        s += 'empty'
        
    return s

# --------------------------------------------------------------------------------------
def normal_anomal_split(dfx, dfy, size, periods, y_choose='last', ahead='', custom_normal_split=False, normal_test_ratio=0.1, scaler='MinMaxScaler'):
    
    if (scaler == 'MinMaxScaler'):
        myscaler = MinMaxScaler(feature_range=(0, 1))
    elif (scaler == 'StandardScaler'):
        myscaler = StandardScaler()
    elif(scaler == 'RobustScaler'):
        myscaler = RobustScaler(with_centering=True, with_scaling=True, quantile_range=(25, 75))
    
    x_windowed, y_windowed, windows_ind = datetime_window(dfx=dfx, dfy=dfy, dfy_total=dfy, scaler=myscaler, size=size, periods=periods, y_choose=y_choose, ahead=ahead)
    
    
    x_normal = []
    y_normal = []
    x_anomal = []
    y_anomal = []
    for (i, wy) in enumerate(y_windowed):
        if wy.iloc[0] == 0:
            x_normal.append(x_windowed[i])
            y_normal.append(y_windowed[i])
        else:
            x_anomal.append(x_windowed[i])
            y_anomal.append(y_windowed[i])
    
    
    normal_indices = [i for i in range(len(x_normal))]
    normal_indices_permuted = np.random.permutation(normal_indices)
    
    length = len(x_normal)
    length_test = round(length * normal_test_ratio)
    
    if custom_normal_split:
        normal_test_indices = normal_indices_permuted[:length_test]
        normal_train_indices = normal_indices_permuted[length_test:]
    else:
        normal_test_indices = normal_indices_permuted[:len(y_anomal)]
        normal_train_indices = normal_indices_permuted[len(y_anomal):]
    
    
    x_normal_train = [x_normal[i] for i in normal_train_indices]
    x_normal_test = [x_normal[i] for i in normal_test_indices]
    
    
    x_normal_train_total = pd.concat(x_normal_train)
    x_normal_train_total = x_normal_train_total[~x_normal_train_total.index.duplicated(keep='first')]
    x_normal_train_total.sort_index(inplace=True)
    
    myscaler.fit(x_normal_train_total.to_numpy())
    
    x_train = []
    for wx in x_normal_train:
        wx = wx.to_numpy()
        wx = np.squeeze(myscaler.transform(wx))
        x_train.append(wx)
    
    
    x_test = []
    y_test = []
    for wx in x_normal_test:
        wx = wx.to_numpy()
        wx = np.squeeze(myscaler.transform(wx))
        x_test.append(wx)
        y_test.append(0)
        
    for wx in x_anomal:
        wx = wx.to_numpy()
        wx = np.squeeze(myscaler.transform(wx))
        x_test.append(wx)
        y_test.append(1)
    
    x_mix = []
    for wx in x_windowed:
        wx = wx.to_numpy()
        wx = np.squeeze(myscaler.transform(wx))
        x_mix.append(wx)
    
    y_mix = []
    for wy in y_windowed:
        wy = wy.to_numpy()
        wy = wy[0]
        y_mix.append(wy)
        
    i_mix = windows_ind

    
    return x_train, x_test, y_test, x_mix, y_mix, i_mix, myscaler
x_train, x_test, y_test, x_mix, y_mix, i_mix, myscaler = normal_anomal_split(
	dfx=df16, dfy=df17
	, size='24H', periods=12, y_choose='last', ahead=''
	, custom_normal_split=True, normal_test_ratio=0.2, scaler='MinMaxScaler')

df16 = {
	'x_train': np.array(x_train),
	'x_test': np.array(x_test),
	'y_test': np.array(y_test),
	'x_mix': np.array(x_mix),
	'y_mix': np.array(y_mix),
	'i_mix': i_mix,
	'myscaler': myscaler,
}

attrs = {
	'var': 'df16',
	'type': type(df16).__name__,
}
[attrs]

{
	'x_train': print_list_shape(x_train),
	'x_test': print_list_shape(x_test),
	'y_test': print_list_shape(y_test),
}

np.squeeze(df16['x_train'])
np.squeeze(df16['x_test'])
np.squeeze(df16['y_test'])

C:\Users\CounterNA\AppData\Local\Temp\ipykernel_17380\4094668319.py:46: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  dfx.iloc[:, 0].rolling(size).apply(get_windows)

[{'var': 'df16', 'type': 'dict'}]

{'x_train': '6484 x (12, 2)',
 'x_test': '3995 x (12, 2)',
 'y_test': '3995 x ()'}

array([[[0.14285714, 0.        ],
        [0.14285714, 0.        ],
        [0.14285714, 0.        ],
        ...,
        [0.14285714, 0.        ],
        [0.14285714, 0.        ],
        [0.14285714, 0.        ]],

       [[0.40336134, 0.        ],
        [0.40336134, 0.        ],
        [0.40336134, 0.        ],
        ...,
        [0.42016807, 0.        ],
        [0.42857143, 0.        ],
        [0.43697479, 0.        ]],

       [[0.33613445, 0.        ],
        [0.34453782, 0.        ],
        [0.35294118, 0.        ],
        ...,
        [0.36134454, 0.        ],
        [0.3697479 , 0.        ],
        [0.37815126, 0.        ]],

       ...,

       [[0.39495798, 0.        ],
        [0.40336134, 0.        ],
        [0.39495798, 0.        ],
        ...,
        [0.37815126, 0.        ],
        [0.3697479 , 0.        ],
        [0.39495798, 0.        ]],

       [[0.00840336, 0.        ],
        [0.00840336, 0.        ],
        [0.00840336, 0.        ],
        ...,
        [0.21848739, 0.        ],
        [0.23529412, 0.        ],
        [0.27731092, 0.        ]],

       [[0.14285714, 0.        ],
        [0.1512605 , 0.        ],
        [0.15966387, 0.        ],
        ...,
        [0.1512605 , 0.        ],
        [0.14285714, 0.        ],
        [0.21848739, 0.        ]]])

array([[[0.36134454, 0.        ],
        [0.23529412, 0.        ],
        [0.2605042 , 0.        ],
        ...,
        [0.42016807, 0.        ],
        [0.3697479 , 0.        ],
        [0.19327731, 0.        ]],

       [[0.14285714, 0.        ],
        [0.14285714, 0.        ],
        [0.14285714, 0.        ],
        ...,
        [0.13445378, 1.        ],
        [0.13445378, 1.        ],
        [0.14285714, 0.        ]],

       [[0.27731092, 0.        ],
        [0.31092437, 0.        ],
        [0.27731092, 0.        ],
        ...,
        [0.30252101, 0.        ],
        [0.29411765, 0.        ],
        [0.31932773, 0.        ]],

       ...,

       [[0.60504202, 1.        ],
        [0.77310924, 1.        ],
        [0.57142857, 1.        ],
        ...,
        [0.60504202, 0.        ],
        [0.59663866, 1.        ],
        [0.58823529, 1.        ]],

       [[0.77310924, 1.        ],
        [0.57142857, 1.        ],
        [0.57142857, 1.        ],
        ...,
        [0.59663866, 1.        ],
        [0.58823529, 1.        ],
        [0.57983193, 1.        ]],

       [[0.57142857, 1.        ],
        [0.57142857, 1.        ],
        [0.59663866, 1.        ],
        ...,
        [0.58823529, 1.        ],
        [0.57983193, 1.        ],
        [0.71428571, 1.        ]]])

array([0, 0, 0, ..., 1, 1, 1])

In [14]:
file = os.path.join('C:/Users/CounterNA/Desktop/COMPU/TRABAJO 2( REBOILER)/Codigos', 'Rebolier_Informe1')
np.savez(file, x_train=df16['x_train'], x_test=df16['x_test'], y_test=df16['y_test'], x_mix=df16['x_mix'], y_mix=df16['y_mix'], i_mix=df16['i_mix'])
scaler_file = os.path.join('C:/Users/CounterNA/Desktop/COMPU/TRABAJO 2( REBOILER)/Codigos', 'scaler.joblib')
joblib.dump(df16['myscaler'], scaler_file)
attrs = {
	'var': 'empty',
	'type': 'empty',
}
[attrs]
'npz file saved'

['C:/Users/CounterNA/Desktop/COMPU/TRABAJO 2( REBOILER)/Codigos\\scaler.joblib']

[{'var': 'empty', 'type': 'empty'}]

'npz file saved'